<% layout("/layouts/boilerplate") %>
<body>
    <h3>All Lists</h3>
    <ul>
        <% for(let list of allListings) { %>
            <li><a href="/listings/<%=list._id%>"><%= list.title %></a></li>
            <li><a href="/listings/<%=list._id%>"><%= list.title %></a></li>
        <% } %>
    </ul>
</body>