<% layout("/layouts/boilerplate") %>
<body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="Enter title" type="text"/> <br/>
        <textarea name="listing[description]" placeholder="Enter description"></textarea> <br/>
        <input name="listing[image]" placeholder="Enter URL/Link" type="text"/> <br/>
        <input name="listing[price]" placeholder="Enter price" type="number"/> <br/>
        <input name="listing[country]" placeholder="Enter country" type="text"/> <br/>
        <input name="listing[location]" placeholder="Enter location" type="text"/> <br/>
        <button>Add</button>
    </form>
</body>